@using WeatherApp.WebUI.ViewModels;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s6">
        <button id="addCity" data-target="modal-container" class="btn modal-trigger">Add city</button>
    </div>
    <div class="col s6">

    </div>
</div>
<partial name="_AddCityForm" model="new CityViewModel()"/>

@section scripts {
    
    <script>
        $(function () {
            $('#AddCityForm').submit(function (e) {
                e.preventDefault();
                var form = $('#AddCityForm');                
                form.validate();
                if (form.valid()) {
                    $.post($('form').attr('action'), $('form').serialize(), function () {
                    }).done((data) => {
                        console.log(data);
                    }).fail((data) => {
                        console.log(data);
                        var error = [...data.responseJSON.errors];
                        $('#error').text(error[0]);
                    })
                }
                else
                    alert("Not valid");

            })
        });

       
    </script>
}
<script>
    $(document).ready(function () {
        $('.modal').modal();

    });
</script>
