@model ICollection<WeatherApp.Application.Weather.Queries.GetAllCitiesWeather.CityWeatherPreview>
@{
    ViewData["Title"] = "Home Page";
}
<div class="section">
    <!--   Icon Section   -->
    <partial name="_CityCollection" model="@Model" />
</div>

